:root {
    --white: #fff;
    --lightest: #f0f3fd;
    --dark: #0e1735;
    --dark-blue: #1b1c57;
    --blue: #626687;
    --blue-2: #1d4ed8;
    --light-blue: #68799f;
    --light-blue-2: #dbeafe;
    --grey: #888b97;
    --grey-2: #3c4563;
    --grey-3: #e0e3eb;
    --green: #047857;
    --green-2: #10b981;
    --green-3: #d1fae5;
    --orange: #f59e0b;
    --red: #ef4444;
    --light-red: #fee2e2;

    --font-family: 'Lexend', sans-serif;
}

/* Fonts */

@font-face {
    font-family: 'Lexend';
    src: url('../fonts/lexend-regular.woff2') format('woff2'), url('../fonts/lexend-regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lexend';
    src: url('../fonts/lexend-medium.woff2') format('woff2'), url('../fonts/lexend-medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lexend';
    src: url('../fonts/lexend-semibold.woff2') format('woff2'), url('../fonts/lexend-semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lexend';
    src: url('../fonts/lexend-bold.woff2') format('woff2'), url('../fonts/lexend-bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/* Global */

*,
*::before,
*::after {
    box-sizing: inherit;
}

img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    background-color: var(--white);
}

body.no-scroll {
    overflow: hidden;
}

.swiper-wrapper {
    will-change: transform;
}

h2 {
    font-weight: 600;
    font-size: 32px;
    text-transform: capitalize;
    color: var(--dark-blue);
}

.button {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    gap: 16px;
    background-color: var(--green-2);
    color: var(--white);
    border-radius: 32px;
    font-size: 14px;
    font-weight: 600;
    transition: background-color 0.3s ease;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 12px 24px;
}

.button:hover {
    background-color: var(--green);
}

.sub-text {
    display: inline-block;
    font-weight: 500;
    font-size: 14px;
    text-transform: capitalize;
    color: var(--orange);
    margin-bottom: 12px;
    position: relative;
    padding-left: 40px;
}

.sub-text::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    height: 1px;
    width: 32px;
    background-color: var(--orange);
    transform: translateY(-50%);
}

.house-info {
    position: absolute;
    bottom: 16px;
    left: 16px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 500;
    font-size: 14px;
    text-transform: capitalize;
    color: var(--red);
    background-color: var(--light-red);
    border-radius: 32px;
    padding: 8px 16px;
}

.house-info_new {
    color: var(--blue-2);
    background-color: var(--light-blue-2);
}

.house-info_best {
    color: var(--green);
    background: var(--green-3);
}

.margin-bottom {
    margin-bottom: 120px;
}

@media (max-width: 1024px) {
    .margin-bottom {
        margin-bottom: 70px;
    }
}

/* Aroow nav */

.arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    background-color: var(--white);
    border: 1px solid var(--grey-3);
    border-radius: 50%;
    color: var(--grey);
    transition: all 0.3s ease;
    cursor: pointer;
}

.arrow:hover {
    background-color: var(--green-2);
    color: var(--white);
}

.arrow:hover path {
    fill: var(--white);
}

.arrow.is-disabled:hover {
    background-color: var(--grey-3);
    color: var(--grey);
    cursor: not-allowed;
}

.arrow.is-disabled path {
    fill: var(--grey-2);
}

.arrow.is-disabled,
.arrow[aria-disabled='true'],
.arrow.swiper-button-disabled {
    background: var(--grey-3);
    cursor: not-allowed;
}

.arrow_next {
    rotate: 180deg;
}

/* Search block */

.search-block {
    display: flex;
    align-items: center;
    background-color: var(--white);
    border: 1px solid var(--grey-3);
    border-radius: 32px;
    padding: 0 4px 0 0;
}

.search-input-wrap {
    display: flex;
    align-items: center;
    gap: 15px;
    width: 100%;
    padding: 12px 16px;
}

.search-input {
    font-family: var(--font-family);
    flex: 1;
    border: none;
    outline: none;
    font-size: 14px;
    color: var(--grey);
    background: transparent;
}

/* Swiper */
.swiper {
    width: 100%;
    height: 100%;
    overflow: unset;
    overflow-x: clip;
}

.swiper-slide {
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* Arrow scroll-to-top */

.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: rgba(13, 48, 35, 0.8);
    color: var(--beige);
    border: 1px solid rgba(255, 255, 255, 0.143);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 24px;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0px 0px 10px 2px rgba(255, 255, 255, 0.3);
    transition: transform 0.3s ease;
    z-index: 10000;
}

.scroll-to-top:hover {
    transform: scale(1.1);
}

@media (max-width: 425px) {
    .scroll-to-top {
        width: 40px;
        height: 40px;
    }
}

.wrapper {
    max-width: 1440px;
    position: relative;
    overflow: hidden;
    padding: 0 120px;
    margin: 0 auto;
}

@media (max-width: 1024px) {
    .wrapper {
        padding: 20px;
    }
}
@media (max-width: 800px) {
    .wrapper {
        padding: 0 15px;
    }
}
@media (max-width: 425px) {
    .wrapper {
        padding: 0 15px;
    }
}

/* Burger */
.burger {
    display: none;
    width: 40px;
    height: 20px;
    flex-direction: column;
    justify-content: space-between;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

@media (max-width: 1024px) {
    .burger {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 4px;
        width: 44px;
        height: 44px;
        background-color: var(--grey);
        border-radius: 50%;
        position: relative;
        z-index: 99999;
        order: 2;
    }
    .burger span {
        display: block;
        height: 2px;
        width: 20px;
        background-color: var(--white);
        border-radius: 2px;
        transition: 0.3s;
    }
    .burger.open {
        background-color: var(--main-yellow);
    }
    .burger.open span:nth-child(1) {
        background-color: var(--grey);
        transform: translateY(6px) rotate(45deg);
    }
    .burger.open span:nth-child(2) {
        opacity: 0;
    }
    .burger.open span:nth-child(3) {
        background-color: var(--grey);
        transform: translateY(-6px) rotate(-45deg);
    }
}
@media (max-width: 425px) {
    .burger {
        width: 44px;
        height: 44px;
    }
}

/* Header */
.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
    transform: translateY(0);
    padding-top: 40px;
    z-index: 100;
}

.header__mobile {
    display: none;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.header__logo-info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.header__logo-container {
    display: flex;
    align-items: center;
    gap: 16px;
}

.header__logo-wrap {
    max-width: 115px;
}

.header__logo-wrap_mobile {
    display: none;
}

.header__logo {
    display: block;
    width: 100%;
}

.header__block-wrap {
    display: flex;
    align-items: center;
    gap: 16px;
}

@media (max-width: 1024px) {
    .header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background-color: var(--white);
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        z-index: 200;
        padding: 15px 0;
    }

    .header__wrapper {
        height: 100vh;
        width: 100%;
        position: fixed;
        top: -100vh;
        display: flex;
        justify-content: flex-start;
        gap: 0;
        background-color: var(--white);
        transition: top 0.7s ease;
        z-index: 1000;
        overflow-y: auto;
        padding: 0 30px;
        margin-right: 0;
    }

    .header__wrapper.active {
        top: 0;
        padding-top: 30px;
    }

    .header__logo-container {
        display: none;
    }

    .header__mobile {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 30px;
    }

    .header__logo-wrap_mobile {
        display: block;
        margin-top: 10px;
    }
}

@media (max-width: 768px) {
    .header__wrapper {
        padding: 0 15px;
    }

    .header__logo-wrap {
        max-width: 250px;
    }

    .header__mobile {
        padding: 0 15px;
    }
}

@media (max-width: 425px) {
    .header__logo-wrap {
        max-width: 218px;
    }
}

@media (max-width: 355px) {
    .header__logo-wrap {
        max-width: 180px;
    }
}

/* Nav */
.nav {
    align-content: center;
}

.nav__links-list {
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav__link {
    font-weight: 600;
    font-size: 14px;
    text-transform: capitalize;
    color: var(--white);
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 32px;
    transition: all 0.3s ease;
    padding: 8px 16px;
}

.nav__link:focus,
.nav__link:hover {
    background: rgba(255, 255, 255, 0.3);
}

.nav__link:active {
    border: 1px solid rgba(255, 255, 255, 0.7);
}

@media (max-width: 1200px) {
    .nav__links-list {
        gap: 15px;
    }

    .nav__link {
        padding: 14px 30px;
    }
}

@media (max-width: 1024px) {
    .nav {
        position: relative;
        width: 100%;
        margin-top: 30px;
    }

    .nav__links-list {
        flex-direction: column;
        align-items: flex-start;
        gap: 0;
        text-align: right;
        width: 100%;
    }

    .nav__link {
        font-size: 16px;
        display: block;
        text-align: left;
        background-color: transparent;
        padding: 20px 0;
        position: relative;
    }

    .nav__link::after {
        display: none;
    }
}

@media (max-width: 768px) {
    .nav__link {
        padding: 15px 0;
    }
}

@media (max-width: 425px) {
    .nav,
    .nav__links-list {
        width: 100%;
    }
}

/* Banner */
.banner {
    position: relative;
    min-height: 600px;
}

.banner__wrapper {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    position: relative;
    z-index: 1;
    padding-right: 0;
}

.banner__content {
    flex: 1;
    max-width: 496px;
    position: relative;
    z-index: 2;
    padding-top: 182px;
}

.banner__title {
    max-width: 370px;
    font-weight: 600;
    font-size: 40px;
    text-transform: capitalize;
    color: var(--dark-blue);
    margin-bottom: 24px;
    line-height: 1.3;
}

.banner__title-outline {
    color: transparent;
    -webkit-text-stroke: 1px var(--dark-blue);
    position: relative;
    display: inline-block;
}

.banner__content-wrap {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.banner__text {
    font-size: 16px;
    line-height: 1.6;
    color: var(--blue);
}

.banner__search {
    display: flex;
    align-items: center;
    background-color: var(--white);
    border: 1px solid var(--grey-3);
    border-radius: 32px;
    padding: 0 4px 0 0;
}

.banner__input {
    font-family: var(--font-family);
    flex: 1;
    border: none;
    outline: none;
    font-size: 14px;
    color: var(--grey);
    background: transparent;
}

.banner__input:focus {
    outline: none;
}

.banner__input::placeholder {
    color: var(--grey);
}

.banner__search-input {
    display: flex;
    align-items: center;
    gap: 15px;
    width: 100%;
    padding: 12px 16px;
}

.banner__partners {
    margin-top: 32px;
}

.banner__partners-text {
    font-size: 16px;
    color: var(--grey);
    margin-bottom: 12px;
}

.banner__partners-logos {
    display: flex;
    align-items: center;
    gap: 32px;
}

.banner__partner-logo {
    max-width: 80px;
}

.banner__img-wrap {
    position: relative;
    max-width: 720px;
    min-height: 600px;
    max-height: 720px;
    overflow: hidden;
    z-index: 0;
}

.banner__img {
    object-fit: contain;
}

.banner__right-block {
    position: relative;
}

.banner__sub-info {
    position: absolute;
    bottom: 48px;
    right: -185px;
    display: flex;
    gap: 16px;
}

.banner__sub-item {
    display: flex;
    align-items: center;
    gap: 16px;
    background-color: var(--white);
    box-shadow: 0 11px 48px 0 rgba(51, 51, 51, 0.06);
    border-radius: 32px;
    padding: 24px;
}

.banner__sub-pics {
    display: flex;
}

.banner__pic-item:not(:first-child) {
    margin-left: -26px;
}

.banner__pic {
    width: 56px;
    border-radius: 50%;
}

.banner__sub-title {
    font-weight: 600;
    line-height: 150%;
    color: var(--dark-blue);
}

.banner__sub-text {
    font-size: 12px;
    line-height: 167%;
    color: var(--light-blue);
}

.banner__sub-pic {
    max-width: 56px;
    flex-shrink: 0;
}

.banner__sub-content {
    display: flex;
    flex-direction: column;
    gap: 2px;
    flex-shrink: 0;
}

@media (max-width: 1200px) {
    .banner__sub-info {
        bottom: 58px;
        right: -305px;
    }

    .banner__content {
        padding-top: 120px;
    }
}

@media (max-width: 1024px) {
    .banner__content {
        max-width: 100%;
    }
    .banner__title {
        font-size: 30px;
        max-width: 100%;
    }
    .banner__wrapper {
        gap: 20px;
        flex-direction: column;
        padding: 0 20px;
    }
    .banner__content-wrap {
        gap: 12px;
    }
    .banner__img-wrap {
        max-width: 100%;
    }
    .banner__right-block {
        overflow: hidden;
    }
    .banner__sub-info {
        right: -145px;
    }
}

/* Tabs */

.tab__header {
    display: flex;
    align-items: center;
    gap: 32px;
}

.tab__button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 500;
    font-size: 18px;
    line-height: 156%;
    color: var(--grey);
    border: 1px solid var(--grey-3);
    background-color: transparent;
    border-radius: 32px;
    transition: all 0.3s ease;
    cursor: pointer;
    padding: 12px 24px;
}

.tab__button.active {
    color: var(--green-2);
    background: var(--green-3);
    border: 1px solid var(--green-3);
}

.tab__button:hover:not(.active) {
    color: var(--green-2);
    background-color: var(--green-3);
    border: 1px solid var(--green-3);
}

.tab__button:active {
    color: var(--white);
    background-color: var(--dark-grey);
}

.tab__panel {
    display: none;
}

.tab__panel.active {
    display: block;
    height: 100%;
}

/* Featured */

.featuured .wrapper {
    padding-right: 0;
}

.featured__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    margin-bottom: 40px;
}

.featured__navigation {
    display: flex;
    align-items: center;
    gap: 16px;
}

.featured-swiper {
    overflow: hidden;
}

.featured__slide {
    width: 340px;
    margin-right: 40px;
}

.featured__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.featured__img-wrap {
    position: relative;
}

.featured__info-block {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.featured__house-title {
    font-weight: 500;
    font-size: 24px;
    line-height: 133%;
    color: var(--dark);
}

.featured__house-price {
    font-weight: 500;
    font-size: 20px;
    line-height: 160%;
    color: var(--grey-2);
}

.featured__person-wrap {
    display: flex;
    align-items: center;
    gap: 8px;
}

.featured__person-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
}

.featured__person-name {
    font-weight: 500;
    font-size: 18px;
    line-height: 133%;
    color: var(--dark);
}

.featured__person-place {
    font-weight: 500;
    font-size: 14px;
    line-height: 157%;
    color: var(--grey);
}

@media (max-width: 1440px) {
    .featured__header {
        padding-right: 20px;
    }
}

/* Tour */

.tour h2 {
    margin-top: 12px;
}

.tour__content {
    display: flex;
    align-items: center;
    gap: 150px;
}

.tour__text {
    line-height: 175%;
    color: var(--blue);
    opacity: 0.75;
    margin: 16px 0;
}

.tour__details-title {
    display: inline-block;
    font-weight: 600;
    line-height: 175%;
    color: var(--dark-blue);
    opacity: 0.75;
    margin-bottom: 16px;
}

.tour__blocks {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    margin-bottom: 32px;
}

.tour__block {
    display: flex;
    align-items: center;
    gap: 16px;
    font-weight: 500;
    text-transform: capitalize;
    color: var(--grey-2);
}

.tour__info {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    border-top: 2px solid var(--lightest);
    padding-top: 32px;
}

.tour__woker-info {
    display: flex;
    align-items: center;
    gap: 24px;
}

.tour__avatar-wrap {
    max-width: 56px;
}

.tour__manager-info {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.tour__manager-name {
    font-weight: 500;
    font-size: 18px;
    line-height: 133%;
    color: var(--dark);
}

.tour__job {
    font-weight: 500;
    line-height: 150%;
    color: var(--grey);
}

.tour__video-block {
    max-width: 528px;
    position: relative;
}

.tour__icon {
    position: absolute;
    top: 45%;
    right: 40%;
    max-width: 48px;
    max-height: 48px;
    transform: translateY(-50%);
}

@media (max-width: 1200px) {
    .tour__content {
        gap: 30px;
    }

    .tour__info {
        flex-direction: column;
        align-items: flex-start;
    }
}

@media (max-width: 768px) {
    .tour__content {
        flex-direction: column;
    }
    .tour__info {
        flex-direction: row;
        justify-content: flex-start;
    }
    .tour__blocks {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 670px) {
    .tour__blocks {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Reviews */

.reviews__wrapper {
    overflow: visible;
    padding: 0;
}

.reviews__header {
    text-align: center;
    margin-bottom: 40px;
}

.reviews__img-wrap {
    position: relative;
}

.rewiews__content {
    max-width: 432px;
    width: 100%;
    position: absolute;
    bottom: -106px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--white);
    border-radius: 16px;
    box-shadow: 0 9px 32px 0 rgba(89, 92, 219, 0.05);
    padding: 32px;
}

.reviews__review-title {
    font-weight: 600;
    font-size: 20px;
    text-transform: capitalize;
    color: var(--dark-blue);
    margin-bottom: 16px;
}

.reviews__review-text {
    font-size: 14px;
    line-height: 171%;
    color: var(--blue);
    opacity: 0.75;
    margin-bottom: 24px;
}

.reviews__img-person-wrap {
    max-width: 40px;
    flex-shrink: 0;
}

.reviews__person-name {
    font-weight: 500;
    font-size: 14px;
    line-height: 157%;
    color: var(--dark);
}

.reviews__person-job {
    font-weight: 500;
    font-size: 14px;
    line-height: 157%;
    color: var(--grey);
}

.reviews__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.reviews__person {
    display: flex;
    align-items: center;
    gap: 24px;
}

.reviews__person-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.reviews__rating {
    display: flex;
    align-items: center;
    gap: 10px;
}

.reviews__rating-count {
    font-weight: 600;
    font-size: 20px;
    line-height: 140%;
    color: var(--grey-2);
}

.reviews__navigation {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 150px;
}

@media (max-width: 768px) {
    .reviews__img-wrap {
        display: none;
    }
    .rewiews__content {
        position: relative;
        bottom: 0;
        max-width: unset;
        width: unset;
    }
    .reviews__navigation {
        margin-top: 20px;
    }
}

/* More info */

.more-info .sub-text {
    margin-bottom: 12px;
}

.more-info h2 {
    line-height: 125%;
    text-align: center;
    margin-bottom: 24px;
}

.more-info__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    max-width: 432px;
    margin-bottom: 42px;
}

.more-info__content {
    display: flex;
    gap: 68px;
}

.more-info__cards {
    display: flex;
    flex-direction: column;
    gap: 42px;
}

.more-info__card {
    display: flex;
    gap: 32px;
}

.more-info__img-wrap {
    max-width: 200px;
    flex-shrink: 0;
}

.more-info__desc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.more-info__person-wrap {
    display: flex;
    align-items: center;
    gap: 16px;
}

.more-info__person-name {
    font-size: 14px;
    line-height: 157%;
    color: var(--grey-2);
}

.more-info__person-img {
    max-width: 32px;
}

.more-info__title-block {
    font-weight: 500;
    font-size: 18px;
    line-height: 178%;
    text-transform: capitalize;
    color: var(--dark-blue);
}

.more-info__time {
    font-size: 14px;
    line-height: 171%;
    color: var(--grey);
    display: flex;
    align-items: center;
    gap: 12px;
}

.more-info__main-card {
    max-width: 560px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.more-info__main-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.more-info__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    color: var(--blue);
    opacity: 0.75;
    margin-top: 8px;
}

@media (max-width: 1200px) {
    .more-info__content {
        flex-direction: column;
    }
    .more-info__main-card {
        order: -1;
        max-width: 100%;
    }
}

/* Subscribe */

.subscribe__wrapper {
    background-image: url(../img/bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    padding: 72px 0;
}

.subscribe__content {
    display: flex;
    justify-self: center;
    flex-direction: column;
    gap: 30px;
    max-width: 496px;
}

.subscribe__content h2 {
    text-align: center;
    line-height: 125%;
}

.subscribe .search-input-wrap {
    padding: 16px 0 16px 24px;
}

/* Footer */

.footer__wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 260px;
}

.footer__logo-wrap {
    max-width: 115px;
    margin-bottom: 16px;
}

.footer__text {
    font-size: 14px;
    line-height: 171%;
    color: var(--blue);
    opacity: 0.75;
    margin-bottom: 24px;
}

.footer__socials {
    display: flex;
    align-items: center;
    gap: 24px;
}

.footer__block-title {
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    text-transform: capitalize;
    color: var(--dark);
    margin-bottom: 24px;
}

.footer__link {
    font-size: 14px;
    text-transform: capitalize;
    color: var(--grey);
}

.footer__links-block {
    display: flex;
    gap: 88px;
}

.footer__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
